<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet preload" as="style" href="/style.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>

  <body>
    <header>
      <!-- TODO: トップページへのリンクなど -->
    </header>
    <main>
      <header>
        {{ Breadcrumb }}
      </header>
      <article>
        {{ Markdown }}
      </article>
      <!-- TODO: 前後の記事へのナビゲーション -->
    </main>
    <footer>
      <!-- TODO: カテゴリーリンク、コピーライト表記など -->
    </footer>
    <script type="application/ld+json">
      [{{ JsonLd }}]
    </script>
  </body>

</html>